@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    background-color: hsl(233, 47%, 7%);
}

.container {
    margin: auto;
    margin-top: 200px;
    background-color:hsl(244, 38%, 16%);
    padding: 0%;
    font-size: 15px;
}

.content {
    text-align: left;
    padding: 70px 0px 30px 70px;
}

.container h1 {
    color: hsl(0, 0%, 100%);
    font-family: Inter, sans-serif;
    font-weight: 700;
}

span {
    color: hsl(277, 64%, 61%);
}

.container p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 50px;
}

.stats {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    padding: 0px 0px 0px 70px;
    font-weight: 400;
}

#num {
    color: hsl(0, 0%, 100%);
    font-family: Inter, sans-serif;
    font-weight: 700;
}

img {
    z-index: 1;
}

.overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    background: hsl(277, 64%, 61%);
    opacity: 0.5;
    background-blend-mode: multiply;
}
